@import "tailwindcss";


.card {
  @apply bg-[#152710] border border-green-800/50 rounded-md shadow flex flex-col;
}

.dropCard {
  @apply w-fit bg-[#14230f] border border-green-800/50 px-3 py-2 rounded-md shadow flex flex-col;
}

.dropCard select {
  @apply w-full focus:outline-none text-white text-sm;
}

.dropCard select option {
  @apply bg-green-200 text-green-800 px-3 py-2;
}


thead {
  @apply text-center bg-green-900 text-gray-100 text-sm;
}

thead th {
  @apply border border-[#14230f] p-2 ;
}

tbody td {
  @apply border border-green-800/20 px-4 py-2;
}
