@import "tailwindcss";

/* Custom Colors */
@theme {
  --color-primary: #1D4D2F;
  --color-secondary: #14230f;
  --color-background: #0D2603;
  --color-foreground: #f1f5f1;
  --color-border: #1D4D2F;
}

/* Custom Class */

body {
  @apply bg-background text-foreground;
}

.card {
  @apply bg-black/10 border border-border rounded-md shadow flex flex-col;
}

.dropCard {
  @apply w-fit bg-black/10 border border-border px-3 py-2 rounded-md shadow flex flex-col;
}

.dropCard select {
  @apply w-full focus:outline-none text-foreground text-sm bg-transparent cursor-pointer;
}

.dropCard select option {
  @apply bg-green-950 text-green-50 px-3 py-2 w-full;
}

thead {
  @apply text-center bg-background border-b border-border text-gray-50 text-sm;
}

thead th {
  @apply border border-white/25 p-2;
}

tbody td {
  @apply border border-white/25 px-4 py-2;
}

.modalCard {
  @apply w-11/12 max-w-md text-foreground rounded-lg p-6 shadow-lg bg-gray-950 border border-border flex flex-col;
}

.modalCard select {
  @apply w-full focus:outline-none text-foreground text-sm bg-secondary border border-border px-3 py-2 rounded-md shadow flex flex-col;
}

.modalCard select option {
  @apply bg-green-950 text-green-50 p-5;
}

.modalCard input {
  @apply w-full focus:outline-none text-foreground text-sm bg-secondary border border-border px-3 py-2 rounded-md shadow flex flex-col;
}
