@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.select {
  @apply border pl-2 py-2 rounded border-green-200 shadow w-full focus:outline-none text-white bg-green-700/50;
}

.select option {
  @apply bg-green-200 text-green-800;
}


thead {
  @apply text-center bg-green-400;
}

thead th {
  @apply border border-green-700 px-4 py-2 ;
}

tbody td {
  @apply border border-gray-300 px-4 py-2;
}